@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <canvas id="chartCanvas"></canvas>
</div>

@section Scripts {
    <script src="~/js/chart.js"></script>
    <script type="text/javascript">
        const canvas = document.getElementById("chartCanvas");
        canvas.width = 500;
        canvas.height = 500;

        const pieChart = new PieChart(canvas, [
            {
                category: "test1",
                value: 4
            },
            {
                category: "test2",
                value: 5
            },
            {
                category: "test3",
                value: 9
            }
        ]);

        const lineChart = new LineChart(canvas, [
            {
                category: "test1",
                points: [
                    {
                        x: 1,
                        y: 2
                    },
                    {
                        x: 2,
                        y: 3
                    },
                    {
                        x: 3,
                        y: 4
                    },
                    {
                        x: 4,
                        y: 5
                    }
                ]
            },
            {
                category: "test2",
                pints: [
                    {
                        x: 0,
                        y: 2
                    },
                    {
                        x: 5,
                        y: 6
                    },
                    {
                        x: 7,
                        y: 7
                    },
                    {
                        x: 9,
                        y: 10
                    }
                ]
            }
        ]);

        //pieChart.draw();
        lineChart.draw();
    </script>
}